html {
  height: 100%;
}

body {
  background-image: url("../img/background.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: limegreen;
}

.no-background {
  background-image: none;
  color: #e9e8e8;
  background-color: rgb(36 39 36);
}

.rimworld-background {
  background-image: url("../img/rimworld.jpg");
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  background-position: top center;
}

.wrap {
  width: 990px;
  margin: 0 auto;
}

.mb {
  margin-bottom: 15px;
}

.panel {
  text-align: center;
  margin: 0 auto;
  background-color: #14171a;
  border-style: solid;
  border-width: 1px;
  border-color: #313131;
  padding: 15px 15px;
}

.wikipedia {
  font-size: 25px;
  margin: 0 15%;
  background-color: rgb(63, 57, 57);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.imp-march {
  margin: 100px;
}

nav {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #060606;
  border-radius: 5px;
}

ul {
  padding: 0 10px;
  margin: 6px;
}

nav li {
  display: inline;
  margin-right: 10px;
}

.wizard {
  height: 1000px;
  transition: transform 1s;
}

.wizard:hover {
  transform: scale(1.5);
}

a {
  text-align: center;
}

h1 {
  text-align: center;
}

.listElement {
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: #232328;
}

.addElementButton {
  margin-bottom: 10px;
  margin-top: 10px;
}

.deleteButton {
  margin-left: 10px;
  border-radius: 5px;
}

.deleteAllButton {
  margin-bottom: 10px;
}

.getWikiButton {
  margin-bottom: 10px;
  margin-top: 10px;
}

.rimworld-header {
  background-color: #855b35;
  border-style: solid;
  border-width: 1px;
  border-color: #060606;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 3px #5c7f8b;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.rimworld-subheader {
  background-color: #515b42;
  border-style: solid;
  border-width: 1px;
  border-color: #060606;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px #5c7f8b;
}

.skillInputs {
  display: flex;
  margin-bottom: 15px;
}

.skillInputs input {
  width: 40px;
}

.propertyInputs {
  display: flex;
  margin-bottom: 15px;
}

.propertyInputs input {
  width: 40px;
}

.statsOutputs {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
